// @mixin font-face($font-name, $file-name, $weight: normal, $style: normal) { 
//   @font-face {
//     font-family: quote($font-name);
//     src: url('../fonts/' + $file-name + '.otf') format("opentype");
//     font-weight: $weight;
//     font-style: $style;
//   }
// }

@mixin font-face($font-name, $file-name) {
  @font-face {
    font-family: quote($font-name);
    src:  url('/fonts/' + $file-name + '.woff2') format('woff2'),
          url('/fonts/' + $file-name + '.woff') format('woff'),
          url('/fonts/' + $file-name + '.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}
